* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
  color: #000;
}

body {
  line-height: 1.6;
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: #000;
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  margin: 40px 0 20px;
}

h2 {
  font-size: 24px;
  margin: 30px 0 15px;
}

h3,
h4 {
  font-size: 18px;
  margin: 20px 0 10px;
}

p,
ul,
ol {
  margin-bottom: 15px;
}

ul,
ol {
  padding-left: 20px;
}

nav {
  margin-bottom: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-list li {
  margin-bottom: 30px;
}

.meta {
  font-size: 14px;
  margin: 10px 0 20px;
}

footer {
  margin-top: 60px;
  font-size: 14px;
}

.prev-next {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
